$color-primary: #165690;
$color-primary-dark: #053159;
$color-primary-light: #517ba2;
$color-accent: #df8a13;
$color-dark: #232323;
$color-black: #000000;
$color-gray: darken(#ffffff, 13.5%);
$color-light: #ffffff;
$color-films: #f1f1f1;
