.header-logo__title, .header-logo__subtitle {
  text-shadow: 0 0 5px #000000, 0 0 20px #000000;
}

.header, .main, .left-sidebar {
  margin-bottom: 80px;
}

.navbar-inverse {
  background-color: #191919;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar {
  margin-bottom: 0;
}

.navbar-header {
  text-align: center;
}

.navbar-right {
  margin-right: 0;
}

.navbar-right li {
  margin: 5px 5px 5px 0;
}

.navbar-left li {
  margin: 5px 0 5px 5px;
}

.navbar-toggle {
  margin-right: 0;
  float: none;
}

.panel {
  margin-bottom: 30px;
}

.panel-info {
  border: none;
  background: #ebebeb;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  font-size: 3rem;
  font-family: "PT Serif", serif;
  margin: -7.5px 0 45px 0;
}

h1::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h2 {
  margin: 60px 0 45px 45px;
  font-size: 2.5rem;
  font-family: "PT Serif", serif;
}

h2::before {
  position: absolute;
  left: 0;
  width: 30px;
  margin: 0.25em 0 0 0;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h2::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h3 {
  font-size: 1.5rem;
}

section {
  position: relative;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

.header-logo {
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  padding: 100px 0;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
}

.header-logo__subtitle {
  display: block;
  color: #ffffff;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
}

.main .search {
  margin-bottom: 45px;
}

.main .user-login {
  margin-bottom: 60px;
}

.title {
  display: none;
}

.new-films__items, .top-week__items {
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-bottom: -15px;
}

.new-films__item, .top-week__item {
  margin-bottom: 15px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.new-films__item:hover .thumbnail, .top-week__item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}

.new-films__item:hover .new-films__item-title, .top-week__item:hover .new-films__item-title, .new-films__item:hover .top-week__item-title, .top-week__item:hover .top-week__item-title {
  color: #fff;
}

.new-films__item-title, .top-week__item-title {
  display: block;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
}

.new-films__item-title:hover, .top-week__item-title:hover {
  color: #ffffff;
}

.new-films__item-thumbnail, .top-week__item-thumbnail {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
  margin-bottom: 0;
}

.new-films__item-img, .top-week__item-img {
  width: 100%;
}

.new-films__item-caption, .top-week__item-caption {
  text-align: center;
}

.film-news__item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}

.film-news__item a {
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.film-news__item:hover a {
  color: #df8a13;
}

.film-news__item:hover .btn-warning {
  background-color: #df8a13;
  color: #ffffff;
}

.film-news__item-text {
  text-align: justify;
}

.film-news__item-button {
  float: right;
  margin-bottom: 30px;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.film-news__item-thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

/*film-about*/
.film-about {
  font-size: 1.2rem;
}

.film-about__video {
  border: 1px solid #dddddd;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.film-about__video-item {
  width: 100%;
}

.film-about__desc {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.film-about__desc-badge {
  font-size: 0.8em;
}

.film-about__desc-text {
  margin-right: 15px;
  white-space: nowrap;
}

.film-about__desc-text:last-child {
  margin-right: 0;
}

.well {
  border-color: #dddddd;
  background-color: #f1f1f1;
}

.contact__textarea::-webkit-input-placeholder {
  display: block !important;
}

.contact__textarea::-moz-placeholder {
  display: block !important;
}

.contact__textarea:-ms-input-placeholder {
  display: block !important;
}

.contact__textarea::-ms-input-placeholder {
  display: block !important;
}

.contact__textarea::placeholder {
  display: block !important;
}

.contact__btn {
  float: right;
}

.reviews .reviews-panel {
  margin-bottom: 30px !important;
}

.panel:last-child {
  margin-bottom: 0;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider__img {
  width: 100%;
}

.user-login {
  position: relative;
}

.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}

.user-login__tabs a {
  color: #dddddd !important;
  border: none !important;
  background-color: transparent !important;
  padding: 14px 5px 12px !important;
}

.user-login__tabs .active > a {
  color: #ffffff !important;
}

.news-items {
  clear: both;
  position: relative;
}

.news-items:hover a {
  color: #df8a13;
}

.news-items:hover .news-items__img {
  background-color: #df8a13;
  border: #df8a13;
}

.news-items:not(:last-child) {
  min-height: 85px;
  margin-bottom: 15px;
}

.news-items:not(:last-child)::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: calc(100% - 85px);
  height: 1px;
  content: "";
  background-color: #dddddd;
}

.news-items__img {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
}

.news-items__title {
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 10px;
}

.news-items__date {
  text-align: right;
  font-size: 0.8rem;
  color: #909090;
}

.top-films__items {
  padding-left: 0;
  padding-right: 0;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__item {
  background-color: transparent;
  margin-right: -1px;
  margin-left: -1px;
  color: #165690 !important;
  padding-right: 55px;
  border: 1px solid #ddd !important;
}

.top-films__item:first-child {
  border-top: 0 !important;
}

.top-films__item:last-child {
  border-bottom: 0;
}

.top-films__item:hover, .top-films__item:focus {
  background-color: #df8a13 !important;
  color: #ffffff !important;
  border-color: #df8a13;
  border-radius: 0;
}

.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323 !important;
}

.top-films__badge {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer {
  padding-top: 45px;
  color: #fbfbfb;
  background-color: #232323;
}

.footer-items__list {
  padding: 0;
}

.footer a {
  color: #777777;
}

.footer-bottom {
  margin: 20px 0;
  text-align: center;
}

.footer-bottom__link {
  color: #fbfbfb !important;
}

@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav {
    margin: 7.5px -15px;
  }
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-right li {
    margin: 0 0 5px 0;
  }
  .navbar-left li {
    margin: 5px 0 0 0;
  }
}

@media (max-width: 575.8px) {
  h1 {
    margin: 0 0 30px;
    font-size: 2rem;
  }
  h2 {
    margin: 45px 0 30px 45px;
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
    margin-right: -5px;
  }
}
